body {
  margin: 0px;
  font-family: "Roboto Slab";
}
.header-main {
  padding: 77px 0px;
  display: flex;
}
.header-nav {
  padding-top: 19px;
  margin-left: 2%;
}
.header-main:last-child {
  margin-right: 0px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-item {
  color: #5d3d04;
  text-decoration: none;
  font-size: 48px;
  font-weight: 400;
  margin-right: 100px;
  transition: color 0.3s linear;
}
.nav-item:hover {
  color: #4d4d4d;
}
.color-text {
  color: #5d3d04;
}
.container {
  position: relative;
  margin: 0px 140px 0px 120px;
}
.title-bronirovaniye {
  font-size: 108px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 151.2px */
  letter-spacing: 2.16px;
  position: absolute;
  align-items: center;
  padding-left: 20%;
  padding-top: 8%;
  color: #5d3d04;
}
.header-bronirovaniye {
  display: flex;
  justify-content: space-between;
}
.style-form {
  margin-right: 10px;
  width: 363px;
  height: 96px;
  color: #5d3d04;
  border: solid 2px #5d3d04;
  font-family: "Roboto Slab";
  font-size: 24px;
  padding-left: 40px;
}
::placeholder {
  color: #5d3d04;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("images/free-icon-calendar-7454345.png");
}
#form {
  margin-top: 46px;
  margin-bottom: 180px;
}
.bronBtn {
  margin: 0 auto;
  display: block;
  width: 344px;
  height: 88px;
  font-family: "Roboto Slab";
  color: #5d3d04;
  background-color: #cabbb1;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  border: none;
  margin-bottom: 126px;
}
.bronBtn:hover {
  background-color: blanchedalmond;
  color: #4d4d4d;
  outline: 0;
}
/*---------------------------------footer------------------------------*/
#footer {
  background-color: #c6b2a3;
  color: #5d3d04;
  margin: 0px;
}
.groop-footer {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logotip {
  padding: 60px 0px;
  position: relative;
}
.header-footer {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.48px;
  align-items: center;
}
.navigation {
  margin-top: -7%;
  line-height: 25px;
  font-size: 20px;
}
.navigation-desc {
  margin-bottom: 100px;
  text-decoration: none;
  color: #5d3d04;
  font-size: 20px;
  font-style: normal;
  font-weight: 400px;
  letter-spacing: 0.4px;
}
.navigation-desc:hover {
  color: #4d4d4d;
}
.telephone-desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  letter-spacing: 0.36px;
}
.time-footer {
  width: 321px;
  height: 148px;
  line-height: 25px;
  padding-top: 4px;
}
.addres-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 155.388%;
}
.addres-header {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 22px;
  padding-bottom: 10px;
  align-items: center;
}
.chas-footer {
  font-size: 18px;
  align-items: center;
}
.soc-seti-images {
  display: flex;
  justify-content: space-between;
  color: #5d3d04;
}
.soc-seti {
  padding-top: 120px;
}
.time-desc {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 104.167% */
  letter-spacing: 0.48px;
}
.contacts-footer {
  width: 163px;
  height: 148px;
  align-items: center;
}
